<div class="container">

  <div class="row">
    <div class="col-md-5 offset-3">
      <div class="card card-body bg-dark p-4 text-white">
        <h3 class="text-center mb-3">UPDATE</h3>

        <form action="/edit/{{task._id}}" method="POST">
          <div class="mb-3">
            <input
              type="text"
              name="title"
              placeholder="Title"
              value="{{task.title}}"
              class="form-control rounded-0 bg-dark text-white"
            />
          </div>

          <div class="mb-3">
            <textarea
              name="description"
              rows="3"
              placeholder="Add description"
              class="form-control rounded-0 bg-dark text-white"
            >{{task.description}}</textarea>
          </div>
          <button class="btn btn-primary">Update</button>
        </form>
      </div>
    </div>
  </div>

</div>